## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

application_df.drop(["EIN" , "NAME"] , axis =1 , inplace= True)

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9' , 'T13' , 'T12' , 'T2' , 'T25' , 'T14' , 'T29' , 'T15' , 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [29]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#application_df['CLASSIFICATION'].value_counts()
cls_to_not_replace = ["C1000" , "C2000" , "C1200" , "C3000" , "C2100"]
application_df[~application_df['CLASSIFICATION'].isin(cls_to_not_replace)]['CLASSIFICATION']

13       C2700
22       C7000
44       C7200
48       C1700
69       C7000
         ...
34165    C1700
34185    C7000
34212    C1700
34219    C7000
34226    C1800
Name: CLASSIFICATION, Length: 2261, dtype: object

In [30]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cls_to_not_replace = ["C1000" , "C2000" , "C1200" , "C3000" , "C2100"]

classifications_to_replace = application_df[~application_df['CLASSIFICATION'].isin(cls_to_not_replace)]['CLASSIFICATION']

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [39]:
# Convert categorical data to numeric with `pd.get_dummies`


cat_dummies = pd.get_dummies(application_df[['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION','SPECIAL_CONSIDERATIONS' , 'INCOME_AMT']])

numerical_columns = application_df[ 'ASK_AMT']

processed_df = pd.concat([cat_dummies , numerical_columns], axis=1)

processed_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,ASK_AMT
0,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,5000
1,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,108590
2,0,0,0,0,0,1,0,0,0,1,...,1,0,0,0,0,0,0,0,0,5000
3,0,0,0,1,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,6692
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,142590

In [40]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = processed_df

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [41]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [86]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=60, activation="relu", input_dim=42))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Third Hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_14"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_49 (Dense)            (None, 60)                2580

 dense_50 (Dense)            (None, 30)                1830

 dense_51 (Dense)            (None, 40)                1240

 dense_52 (Dense)            (None, 1)                 41

=================================================================
Total params: 5,691
Trainable params: 5,691
Non-trainable params: 0
_________________________________________________________________

In [87]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [88]:
# Train the model

fit_model = nn.fit(X_train_scaled, y_train, epochs=200)

Epoch 1/200
804/804 [==============================] - 3s 2ms/step - loss: 0.5692 - accuracy: 0.7224
Epoch 2/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5538 - accuracy: 0.7314
Epoch 3/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7331
Epoch 4/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7340
Epoch 5/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7341
Epoch 6/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7357
Epoch 7/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7347
Epoch 8/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7365
Epoch 9/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7353
Epoch 10/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7361
Epoch 11/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5446 - accuracy: 0.7362
Epoch 12/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7375
Epoch 13/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7372
Epoch 14/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7372
Epoch 15/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7367
Epoch 16/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7383
Epoch 17/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7373
Epoch 18/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7372
Epoch 19/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7390
Epoch 20/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7388
Epoch 21/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7380
Epoch 22/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7382
Epoch 23/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7392
Epoch 24/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7379
Epoch 25/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7388
Epoch 26/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7388
Epoch 27/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7388
Epoch 28/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7391
Epoch 29/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7389
Epoch 30/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7390
Epoch 31/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7399
Epoch 32/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5389 - accuracy: 0.7397
Epoch 33/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7397
Epoch 34/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7398
Epoch 35/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7394
Epoch 36/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7403
Epoch 37/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7397
Epoch 38/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7398
Epoch 39/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5383 - accuracy: 0.7395
Epoch 40/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7390
Epoch 41/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7400
Epoch 42/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7401
Epoch 43/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7392
Epoch 44/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7403
Epoch 45/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7404
Epoch 46/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5378 - accuracy: 0.7400
Epoch 47/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7400
Epoch 48/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7402
Epoch 49/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7402
Epoch 50/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7406
Epoch 51/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7402
Epoch 52/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7407
Epoch 53/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7403
Epoch 54/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7406
Epoch 55/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7412
Epoch 56/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7402
Epoch 57/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7406
Epoch 58/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7408
Epoch 59/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5362 - accuracy: 0.7406
Epoch 60/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7413
Epoch 61/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7408
Epoch 62/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7412
Epoch 63/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7406
Epoch 64/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7406
Epoch 65/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5356 - accuracy: 0.7411
Epoch 66/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5356 - accuracy: 0.7405
Epoch 67/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7404
Epoch 68/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7407
Epoch 69/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7412
Epoch 70/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7417
Epoch 71/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7412
Epoch 72/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7411
Epoch 73/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5351 - accuracy: 0.7407
Epoch 74/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7411
Epoch 75/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7412
Epoch 76/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7411
Epoch 77/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7404
Epoch 78/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7409
Epoch 79/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7413
Epoch 80/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7407
Epoch 81/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7411
Epoch 82/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7406
Epoch 83/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7406
Epoch 84/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7407
Epoch 85/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7406
Epoch 86/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5348 - accuracy: 0.7401
Epoch 87/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7411
Epoch 88/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7413
Epoch 89/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5346 - accuracy: 0.7405
Epoch 90/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5351 - accuracy: 0.7411
Epoch 91/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7407
Epoch 92/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5342 - accuracy: 0.7413
Epoch 93/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7418
Epoch 94/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7427
Epoch 95/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7420
Epoch 96/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7407
Epoch 97/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7416
Epoch 98/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5342 - accuracy: 0.7413
Epoch 99/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5338 - accuracy: 0.7414
Epoch 100/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7417
Epoch 101/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7416
Epoch 102/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7414
Epoch 103/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7420
Epoch 104/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7420
Epoch 105/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5337 - accuracy: 0.7422
Epoch 106/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7415
Epoch 107/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7418
Epoch 108/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7416
Epoch 109/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7418
Epoch 110/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7417
Epoch 111/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7415
Epoch 112/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5337 - accuracy: 0.7420
Epoch 113/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7407
Epoch 114/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7422
Epoch 115/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7413
Epoch 116/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5334 - accuracy: 0.7415
Epoch 117/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7415
Epoch 118/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5332 - accuracy: 0.7418
Epoch 119/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5331 - accuracy: 0.7413
Epoch 120/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7413
Epoch 121/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7414
Epoch 122/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7407
Epoch 123/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7413
Epoch 124/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7415
Epoch 125/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5328 - accuracy: 0.7416
Epoch 126/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7414
Epoch 127/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7416
Epoch 128/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7418
Epoch 129/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7416
Epoch 130/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7418
Epoch 131/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7418
Epoch 132/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5326 - accuracy: 0.7419
Epoch 133/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7422
Epoch 134/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7418
Epoch 135/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7419
Epoch 136/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7420
Epoch 137/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7425
Epoch 138/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7416
Epoch 139/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5324 - accuracy: 0.7416
Epoch 140/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7421
Epoch 141/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7416
Epoch 142/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7418
Epoch 143/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7420
Epoch 144/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7413
Epoch 145/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5322 - accuracy: 0.7415
Epoch 146/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5323 - accuracy: 0.7419
Epoch 147/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7422
Epoch 148/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7417
Epoch 149/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7418
Epoch 150/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7421
Epoch 151/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7420
Epoch 152/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5322 - accuracy: 0.7419
Epoch 153/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5317 - accuracy: 0.7427
Epoch 154/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5323 - accuracy: 0.7422
Epoch 155/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7423
Epoch 156/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7420
Epoch 157/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7430
Epoch 158/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7417
Epoch 159/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7419
Epoch 160/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7420
Epoch 161/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7421
Epoch 162/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7424
Epoch 163/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5318 - accuracy: 0.7421
Epoch 164/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7425
Epoch 165/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7421
Epoch 166/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5318 - accuracy: 0.7416
Epoch 167/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7434
Epoch 168/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7426
Epoch 169/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7420
Epoch 170/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7416
Epoch 171/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7421
Epoch 172/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5321 - accuracy: 0.7409
Epoch 173/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5316 - accuracy: 0.7421
Epoch 174/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7419
Epoch 175/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7421
Epoch 176/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5322 - accuracy: 0.7421
Epoch 177/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7430
Epoch 178/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7420
Epoch 179/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5315 - accuracy: 0.7420
Epoch 180/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5311 - accuracy: 0.7425
Epoch 181/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7423
Epoch 182/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7416
Epoch 183/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7426
Epoch 184/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7421
Epoch 185/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5317 - accuracy: 0.7423
Epoch 186/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5315 - accuracy: 0.7424
Epoch 187/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5313 - accuracy: 0.7420
Epoch 188/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7421
Epoch 189/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7424
Epoch 190/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5316 - accuracy: 0.7425
Epoch 191/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7423
Epoch 192/200
804/804 [==============================] - 3s 3ms/step - loss: 0.5315 - accuracy: 0.7425
Epoch 193/200
804/804 [==============================] - 2s 3ms/step - loss: 0.5308 - accuracy: 0.7426
Epoch 194/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5311 - accuracy: 0.7421
Epoch 195/200
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7418
Epoch 196/200

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE